<mat-card style="margin: 50px 10%;">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-card-header>
    <mat-card-title>Dashboard</mat-card-title>
    <mat-card-subtitle>Ask questions / Train AI</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group color="accent">
      <mat-tab label="Question">
        <div style="margin: 30px 0;" fxFlex>
          <span>Ask Question / Upload Question document</span>
          <div fxLayout="row" fxLayoutAlign="center">
            <mat-slide-toggle #toggle class="example-margin" color="accent" (change)="onToggle(toggle.checked)">
              Upload question pdf
            </mat-slide-toggle>
          </div>
          <div *ngIf="uploadPdf" style="margin: 100px 0" fxLayout="column" fxLayoutAlign="center center">
            <input fxHide #file type="file" (change)="onFileSelected($event)" accept=".pdf">
            <button *ngIf="!selectedFile" [disabled]="loading" mat-stroked-button color="primary"
              (click)="file.click()">Select Questionair
              PDF</button>
            <button *ngIf="selectedFile" [disabled]="loading" mat-stroked-button color="primary"
              (click)="uploadQuestionAir()">Upload
              {{selectedFile.name}}</button>
          </div>
          <div *ngIf="!uploadPdf" style="margin-top: 20px" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
            <mat-form-field>
              <textarea matInput placeholder="Enter your question" [formControl]="question" required></textarea>
              <mat-error *ngIf="question.invalid && (question.dirty || question.touched)">
                Question is required.
              </mat-error>
            </mat-form-field>
            <button [disabled]="question.invalid || loading" mat-stroked-button color="primary"
              (click)="askQuestion()">Ask</button>
            <mat-accordion *ngIf="answer" displayMode="default" [multi]="true" [hideToggle]="false">
              <mat-expansion-panel [hideToggle]="false" expanded>
                <mat-expansion-panel-header>Answer</mat-expansion-panel-header>
                <p>{{answer.answer}}</p>
              </mat-expansion-panel>
              <mat-expansion-panel [hideToggle]="false" expanded
                *ngFor="let citation of answer?.citations; let i = index;">
                <mat-expansion-panel-header>Citation {{i}}</mat-expansion-panel-header>
                <p><strong>Source:</strong> {{citation?.citationSource}} <strong>Page:</strong>
                  {{citation?.citationPageNumber}}</p>
                <p>Citation: {{citation?.citationData}}</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Training">
        <div style="margin: 30px 0;"  fxLayout="column" fxFlex fxLayoutAlign="center center">
          <span>Upload Training document</span>
          <div style="margin: 100px 0" fxLayout="column" fxLayoutAlign="center center">
            <input fxHide #trainingFile type="file" (change)="onTrainingFileSelected($event)" accept=".pdf">
            <button *ngIf="!selectedTrainingFile" [disabled]="loading" mat-stroked-button color="primary"
              (click)="trainingFile.click()">Select PDF for training</button>
            <button *ngIf="selectedTrainingFile" [disabled]="loading" mat-stroked-button color="primary"
              (click)="uploadTrainingDocument()">Upload
              {{selectedTrainingFile.name}}</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
