<div style="padding: 0 10%; min-height: calc(100vh - 65px); z-index: 0;" fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="center center">
    <span style="font-size: 50px; font-weight: 150; margin-top: 50px;">ESG Survey Automation</span>
    <span style="font-size: 30px; font-weight: 100; margin-top: 10px;">Team – “Team_Name_NotFound_Exception” </span>
  </div>
  <div fxLayout="column">
    <span style="font-size: 30px; font-weight: 400; margin-top: 50px;">Introduction (Business Need):</span>
    <p style="text-indent: 50px;">
      Environmental, Social, and governance (ESG) considerations continue to transform today’s financial landscape.
      Stakeholders increasingly expect a company’s business strategy to align with its climate and equity commitments.
      While companies are at various stages on their sustainability journey, they must drive accountability today for a
      sustainable tomorrow. Several third-party organizations and agencies request large, public companies to complete
      ESG surveys, which assess company performance on ESG and Sustainability related topics and produce scores for
      related performance areas. These scores are commonly interpreted by investors to understand how well a company is
      performing from an ESG perspective. As such, company performance scores and ratings carry business implications.
    </p>
    <p style="text-indent: 50px;">
      Currently, our Enterprise Sustainability Team responds to surveys by interpreting various publicly available
      disclosures and documentation to respond to external ESG surveys (Examples include : S&P Global CSA, Eco Vadis,
      ISS E&S data validation, MSCI ICP, MSCI Climate One, CDP, and JUST Capital). The team invests a significant amount
      of time in the process of collecting information pertaining to each survey from several public sources, including
      sustainability reports, which include both quantitative and qualitative information. This information is collected
      to respond to relevant questions in the survey, which must include specific text, page / document references, and
      related evidence supporting the answer for audit purposes.
    </p>
  </div>
  <div fxLayout="column">
    <span style="font-size: 30px; font-weight: 400; margin-top: 50px;">Challenge Description:</span>
    <p style="text-indent: 50px;">
      Design an innovative solution to respond to survey questions by retrieving responses and relevant information from
      public, our -owned disclosures, such as PDF-files and web-pages by using cutting-edge technologies. Additionally,
      develop automated solution for recording references and citations from related sources (e.g., document link, page
      number, paragraph/data) which address each question in the survey. The goal is to develop a robust, automated
      information collection system capable of parsing complex reports related to various categories concerning the ESG
      and other business documents to extract relevant data based on Survey Questionnaire related to the company.
    </p>

    <p style="text-indent: 50px;">
      If time permits additional scope includes scrapping information available from internet as part of publicly
      accessible information about us.
    </p>
  </div>
</div>
